.fondo {
    background-image: url('/assets/g.jpg');
    height: 100%;
    width: 100%;
    background-position: back;
    background-size: 100%;
}

.titulo {
    padding-top: 40%;
    height: 40%;
    width: 90%;
    margin-left: 15%;
}

.boton1 {
    margin-top: 60%;
    margin-bottom: 10%;
    margin-left: 18%;
}

.item {
    line-height: 50px;
    box-sizing: content-box;
    font-size: 50px;
    color: #FFFFFF;
    font-family: 'Roboto-Light';
    opacity: 1;
    max-width: 250px;
    text-align: center;
}