<ion-content>
    <div class="fondo">

        <div class="cuadro">
            <ion-item>
                <ion-label></ion-label>
                <ion-input></ion-input>
            </ion-item>
        </div>

        <div class="text">
            <div class="labels">USUARIO</div>
        </div>

        <div class="bro">
            <ion-item>
                <ion-label></ion-label>
                <ion-input></ion-input>
            </ion-item>
        </div>

        <div class="contr">
            <div class="labels">CONTRASEÑA</div>
        </div>

        <ion-button href="/home" color="dark " class="boton1">
            Aceptar
        </ion-button>
    </div>
</ion-content>