<ion-content>
    <div class="fondo">

        <div class="text">
            <div class="labels">Orden de Servicio</div>
        </div>

        <div class="cuadro">
            <ion-item>
                <ion-label></ion-label>
                <ion-input></ion-input>
            </ion-item>
        </div>
        <div>
            <ion-button href="/home" color="dark " class="boton1">
                Aceptar
            </ion-button>
        </div>

        <div>
            <ion-button href="/home" color="dark " class="boton1">
                Aceptar
            </ion-button>
        </div>
    </div>
</ion-content>