<ion-content>
    <div class="fondo">

        <div class="listas2"> N° de Orden A Entregar
            <select name="dropdown" class="uno">
      <option value="MESA_1"selected>N° Orden</option>
      </select>
        </div>

        <div class="listas1">Menu del Dia
            <select name="dropdown" class="uno">
              <option value="USUARIO_1"selected>Menu</option>
      </select>
        </div>

        <div class="listas1">Platos a la Carta
            <select name="dropdown" class="uno">
              <option value="MENU_1"selected>Platos</option>
          </select>
        </div>

        <div class="listas1">Bebidas Especiales
            <select name="dropdown" class="uno">
                  <option value="MENU_1"selected>Bebidas</option>
                </select>
        </div>
        <div class="listas1">Adiciones
            <select name="dropdown" class="uno">
                  <option value="MENU_1"selected>Adicionales</option>
              </select>
        </div>
        <div class="listas1">Cambios
            <select name="dropdown" class="uno">
                  <option value="MENU_1"selected>Cambio</option>
                </select>
        </div>
        <div class="botones">
            <ion-button href="/final" color="dark">Aceptar
            </ion-button>
        </div>
    </div>
</ion-content>