<ion-content>
    <div class="fondo">

        <div class="listas1">MESAS
            <select name="dropdown" class="uno">
        <option value="MESA_1"selected>MESA 1</option>
        <option value="MESA_2">MESA 2</option>
        <option value="MESA_3">MESA 3</option>
        <option value="MESA_4">MESA 4</option>
        <option value="MESA_4">MESA 5</option>
        </select>
        </div>

        <div class="listas1">USUARIOS
            <select name="dropdown" class="uno">
                <option value="USUARIO_1"selected>USUARIO 1</option>
                <option value="USUARIO_2">USUARIO 2</option>
                <option value="USUARIO_3">USUARIO 3</option>
                <option value="USUARIO_4">USUARIO 4</option>
                <option value="USUARIO_4">USUARIO 5</option>
        </select>
        </div>

        <div class="listas1">USUARIO N° 1
            <select name="dropdown" class="uno">
                <option value="MENU_1"selected>MENU 1</option>
                <option value="MENU_2">MENU 2</option>
                <option value="MENU_3">MENU 3</option>
                <option value="MENU_4">MENU 4</option>
            </select>
        </div>

        <div class="listas1">USUARIO N° 2
            <select name="dropdown" class="uno">
                    <option value="MENU_1"selected>MENU 1</option>
                    <option value="MENU_2">MENU 2</option>
                    <option value="MENU_3">MENU 3</option>
                    <option value="MENU_4">MENU 4</option>
                </select>
        </div>
        <div class="listas1">USUARIO N° 3
            <select name="dropdown" class="uno">
                    <option value="MENU_1"selected>MENU 1</option>
                    <option value="MENU_2">MENU 2</option>
                    <option value="MENU_3">MENU 3</option>
                    <option value="MENU_4">MENU 4</option>
                </select>
        </div>
        <div class="listas1">USUARIO N° 4
            <select name="dropdown" class="uno">
                    <option value="MENU_1"selected>MENU 1</option>
                    <option value="MENU_2">MENU 2</option>
                    <option value="MENU_3">MENU 3</option>
                    <option value="MENU_4">MENU 4</option>
                </select>
        </div>
        <div class="listas1">USUARIO N° 5
            <select name="dropdown" class="uno">
                    <option value="MENU_1"selected>MENU 1</option>
                    <option value="MENU_2">MENU 2</option>
                    <option value="MENU_3">MENU 3</option>
                    <option value="MENU_4">MENU 4</option>
                </select>
        </div>
        <div class="labels">
            TOTAL
        </div>

        <div class="botones">
            <ion-button href="/final" color="dark ">Aceptar
            </ion-button>
            <ion-button href="/atras" color="dark ">Modificar</ion-button>
        </div>
    </div>
</ion-content>